<div id="learner-outputs" class="main-section">
  <div class="learners-submission-container" id="submissions-page">
    <div>
      <%= image_tag("circle-left.svg", :class => "img-circled-left", :id => "back-to-learners") %>
      <span class="submission-learner-name"></span>
    </div>
    <div class="phases-tab">
      <ul class="overview-bar" id="phases-bar"></ul>
      <% @frameworks.each do |framework| %>
        <div class="accordion-div">
          <div class="phase-accordion phase-tab">
            <a class="accordion-section-title phase-title" id="accordion-title-<%= framework[0] %>" href="#framework-accordion-<%= framework[0] %>">
              <%= render 'learning_ecosystem/image_icon' %>
              <%= framework[1] %>
            </a>
            <div id="framework-accordion-<%= framework[0] %>" class="accordion-section-content phase-content">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/lfa_feedback_modal' %>
