  <div class="resource-card">
      <span class="resource-title">Downloadable Resources</span>
      <ul class="resource-details">
        <li class="resource-link">
          <a href="/sheet?format=csv&city=<%= params[:city] %>&cycle=<%= params[:cycle] %>&decision_one=<%= params[:decision_one] %>&decision_two=<%= params[:decision_two] %>&week_one_lfa=<%= params[:week_one_lfa] %>&week_two_lfa=<%= params[:week_two_lfa]%>">
            Learner Data
          </a>
        </li>
        <li class="resource-link">
          <a href="https://docs.google.com/a/andela.com/spreadsheets/d/111l0AE8Rw0b4KddwnNA9aRBB5JKdogryfuulpOPUnbI/export?format=xlsx&gid=0" download>Learner Data Template</a>
        </li>
      </ul>
    </div>
  </div>
